            <li class="pub-item">
              <span class="pub-title">雰囲気酸素濃度変化によるZDDPトライボフィルムの化学構造/物性が摩擦・摩耗特性に与える影響</span>
              <span class="pub-authors">佐藤魁星 志村知奈璃 桑原卓哉 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">鋼の転がりすべり摩擦試験において印加電圧がe-Axle用潤滑油の摩耗特性に与える影響</span>
              <span class="pub-authors">古川怜穏 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">方向性テクスチャ表面におけるスペックルパターンを用いた機械学習による摩擦係数予測に関する研究</span>
              <span class="pub-authors">松井杏太郎 松田航 佐藤魁星 佐々木 信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">子宮頸癌細胞の弾性率に与える摩擦刺激および紫外線の影響</span>
              <span class="pub-authors">島村龍汰 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">化学合成したタングステンジチオカーバメイト(WDTC)の摩擦摩耗特性の調査</span>
              <span class="pub-authors">関想太 佐藤魁星 武重レオナルド隼人 佐竹彰治 桑原卓哉 田中典義 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">偏光を考慮したスペックルパターンを用いた異方性表面の粗さ評価について</span>
              <span class="pub-authors">山崎蓮 松田航 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">リン酸エステル由来トライボフィルムの物性が摩擦摩耗特性に及ぼす影響</span>
              <span class="pub-authors">小太刀颯 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">リン酸エステル中における反応膜の成長過程その場観察に基づく活性化エネルギー推定</span>
              <span class="pub-authors">姉川健祐 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">カルシウムスルホネート由来トライボフィルムの耐摩耗性評価による摩耗低減メカニズムの提案</span>
              <span class="pub-authors">林優美 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">アコースティック・エミッション法によるリン系・硫黄系添加剤の濃度変化に伴う鋼の摩耗挙動の調査</span>
              <span class="pub-authors">土屋拓摩 佐藤魁星 佐々木信也 森田美穂 佐藤剛久</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">[BMIM][PF6]中のta-C/ta-C界面の超低摩擦発現トライボケミストリー</span>
              <span class="pub-authors">佐藤魁星 姉川健佑 石祐人 佐々木信也 桑原卓哉</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">SPM/Raman装置を用いたせん断場におけるZDDP由来反応膜の生成過程その場観察</span>
              <span class="pub-authors">佐藤魁星 北村亮輔 姉川健佑 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">FM-AFM/LFM同時測定システムを用いたイオン液体の固液界面構造観察</span>
              <span class="pub-authors">佐藤魁星 山口勇也 小暮亮雅 新井浩 大田昌弘 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">e-Axle 潤滑油中のAFM摩擦面その場観察による潤滑油中の耐摩耗性評価手法の提案</span>
              <span class="pub-authors">佐藤魁星 志村知奈璃 小太刀颯 佐々木信也</span>
              <span class="pub-journal">トライボロジー会議2025 春 (2025-05-26)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">The Effect of Lubricity of Calcium Sulfonate on ZnDTP and MoDTC</span>
              <span class="pub-authors">Yumi Hayashi Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">STLE (2025-05-18)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Lubrication performance of chemically synthesized WDTC using lubricant additives</span>
              <span class="pub-authors">Sota Seki Kaisei Sato Leonardo HayatoFoianesi-Takeshige Akiharu Satake Kuwahara Takuya Tanaka Noriyoshi Shinya Sasaki</span>
              <span class="pub-journal">STLE (2025-05-18)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Elucidation of Molecular Structure and Frictional Properties of Ionic Liquids at Solid-Liquid Interfaces Using FM-AFM and LFM</span>
              <span class="pub-authors">Kaisei Sato Yuya Yamaguchi Shinya Sasaki</span>
              <span class="pub-journal">STLE (2025-05-18)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Effects of shear/compression stresses on tribofilm growth distribution in tritolyl phosphate</span>
              <span class="pub-authors">Kensuke Anegawa Kaisei Sato Robert W Carpick Shinya Sasaki</span>
              <span class="pub-journal">STLE (2025-05-18)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Effect of applied voltages on wear behavior of rolling sliding steel surface under lubrication with E-axle fluids</span>
              <span class="pub-authors">Reon Furukawa Takuto Kunii Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">STLE (2025-05-18)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Analysis of the Effect of Phosphorus/sulfur Additives' Concentration on Wear Phenomena using AE Measurements and Study of Additive Reaction Mechanisms</span>
              <span class="pub-authors">Miho Morita Takuma Tsuchiya Takehisa Sato Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">STLE (2025-05-18)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Study on the Friction Properties of Chemically Synthesized Tungsten Dithiocarbamate (WDTC)</span>
              <span class="pub-authors">Sota Seki KaiseiSato Leonardo Hayato Foianesi-Takeshige Akiharu Satake Takuya Kuwahara Noriyoshi Tanaka Shinya Sasaki</span>
              <span class="pub-journal">ICMDT2025 (2025-04-23)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Research on Improved Prediction of Friction Characteristics Using Machine Learning with Speckle Patterns on Textured Surfaces with Roughness Direction</span>
              <span class="pub-authors">Kyotaro Matsui Wataru Matsuda Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">ICMDT2025 (2025-04-23)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">In-Situ Wear Sensing on Steel Surfaces Changing Lubricant Additive’s Molecular Structure and Concentration by Acoustic Emission Technique</span>
              <span class="pub-authors">Takuma Tsuchiya Miho Morita Takehisa Sato Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">ICMDT2025 (2025-04-23)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Improving Accuracy in a Friction Prediction Model Using Machine Learning Based on Speckle Patterns of Friction Surfaces with Consideration of Polarization</span>
              <span class="pub-authors">Ren Yamazaki Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">ICMDT2025 (2025-04-23)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Growth rate of tribo-film by in-situ AFM observation using Phosphoric ester</span>
              <span class="pub-authors">Kensuke Anegawa Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">ICMDT2025 (2025-04-23)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">Effect of applied voltages on wear behavior of rolling-sliding steel surface under lubrication with e-Axle fluid</span>
              <span class="pub-authors">Reon Furukawa Takuto Kunii Kaisei Sato Shinya Sasaki</span>
              <span class="pub-journal">ICMDT2025 (2025-04-23)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">転がり接触下における鋼の疲労摩耗に及ぼす潤滑状態の影響に関する研究</span>
              <span class="pub-authors">大橋遼太郎 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">日本機械学会 関東支部総会 第31期総会・講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">真空中におけるイオン液体/MoS2ナノ粒子混合潤滑剤の摩擦特性の調査</span>
              <span class="pub-authors">岩佐晴 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">関東学生会第64回学生員卒業研究発表講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">摩擦面のスペックルパターンによる機械学習を用いた摩擦特性予測に関する研究</span>
              <span class="pub-authors">松井杏太郎 松田航 佐藤魁星 佐々木 信也</span>
              <span class="pub-journal">関東学生会第64回学生員卒業研究発表講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">子宮頸癌細胞の弾性率に及ぼす紫外線および摩擦刺激の影響</span>
              <span class="pub-authors">島村龍汰 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">関東学生会第64回学生員卒業研究発表講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">各摺動材料のスペックルパターン変化に基づく機械学習を?いた摩擦係数推定</span>
              <span class="pub-authors">松田 航 山崎蓮 松井杏太郎 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">日本機械学会 関東支部総会 第31期総会・講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">化学合成したタングステンジチオカーバメイト（WDTC）の 摩擦低減効果に関する研究</span>
              <span class="pub-authors">関想太 佐藤 魁星 武重レオナルド隼人 佐竹彰治 桑原卓哉 田中典義 佐々木信也</span>
              <span class="pub-journal">関東学生会第64回学生員卒業研究発表講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">偏光を考慮した摩擦面スペックルパターンを用いた機械学習による摩擦予測モデルにおける精度向上について</span>
              <span class="pub-authors">山崎蓮 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">関東学生会第64回学生員卒業研究発表講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">リン酸エステル添加油中における反応膜の成長過程その場観察に 基づく活性化エネルギー推定</span>
              <span class="pub-authors">姉川健祐 佐藤魁星 佐々木信也</span>
              <span class="pub-journal">関東学生会第64回学生員卒業研究発表講演会 (2025-03-03)</span>
            </li>
            <li class="pub-item">
              <span class="pub-title">マイクロピッチング摩耗試験におけるしゅう動条件の影響に関する研究</span>
              <span class="pub-authors">福田柊弥 佐藤 魁星 國井卓人 佐々木 信也</span>
              <span class="pub-journal">関東学生会第64回学生員卒業研究発表講演会 (2025-03-03)</span>
            </li>